.btn
   padding: 0 15px
   border: 1px solid #000
   border-radius: 20px
   text-align: center
   outline: none
   background-color: #fff
   text-transform: uppercase
   height: 40px
   line-height: 40px
   font-size: 14px
   min-width: 160px
   display: inline-block
   +casp-bold
   +trs
   +rmin(1024)
     min-width: 190px
   +rmin(1366)
      font-size: 16px
   +rmin(1680)
      height: 50px
      line-height: 50px
      font-size: 18px
      min-width: 230px
      border-radius: 25px
   &:hover
     background-color: $accent
     border-color: $accent
   &_yellow
     background-color: $accent
     border-color: $accent
     &:hover
       background-color: #fff
       border-color: #000
   &_dark-white
     background-color: rgba(#060b0c, .6)
     border-color: #fff
     color: #fff
     &:hover
       background-color: #fff
       border-color: #000
       color: #000
   &_text-small
     text-transform: none
   &_dark
     border-color: $accent
     color: $accent
     background-color: rgba(#060b0c, .6)
     &:hover
       background-color: $accent
       color: #000

.socials-btn
  display: inline-block
  min-width: 70px
  background-color: #fff
  position: relative
  border: none
  height: 40px
  transition: background-color .3s ease

  &:before
    content: ''
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    background-repeat: no-repeat
    background-size: contain
    transition: border-color .3s ease

  &_fb:before
    background-image: url('../img/fb_black.svg')
    width: 16px
    height: 31px
  &_inst:before
    background-image: url('../img/insta_black.svg')
    width: 32px
    height: 32px
  &_yt:before
    background-image: url('../img/yt_black.svg')
    width: 26px
    height: 30px

  &_white
    background-color: transparent
    border-color: #fff !important
    &.socials-btn
      &_fb:before
        background-image: url('../img/fb.svg')
      &_inst:before
        background-image: url('../img/insta.svg')
      &_yt:before
        background-image: url('../img/yt.svg')

  &_bordered
    border: 1px solid #000
    border-radius: 20px

  &_hover
    &:hover
      background-color: #fff
      border-color: #000 !important
      &.socials-btn
        &_fb:before
          background-image: url('../img/fb_black.svg')
        &_inst:before
          background-image: url('../img/insta_black.svg')
        &_yt:before
          background-image: url('../img/yt_black.svg')

  &:not(:last-child)
    margin-right: 10px


.btn--send
   background: none
   text-transform: uppercase
   padding: 0 30px
   &:hover
      border-color: #ffffff
      background: #fff


.btn-share
   border: 1px solid #475993
   text-align: center
   outline: none
   background-color: #fff
   display: inline-block
   margin-left: 5%
   overflow: hidden
   text-transform: capitalize
   cursor: pointer
   position: relative
   +casp-reg
   +trs
   height: 40px
   line-height: 40px
   font-size: 14px
   border-radius: 20px
   width: 110px
   &:hover,
   &.is-shared
     background-color: #475993
     .btn-share__icon
       left: 18%
       background-color: #fff
       i
         path
           fill: #475993
   +rmin(1680)
      height: 50px
      line-height: 50px
      font-size: 18px
      border-radius: 25px
      width: 130px
   &__icon
     border-radius: 50%
     background-color: #475993
     position: absolute
     top: 50%
     transform: translate(-50%, -50%)
     left: 82%
     width: 34px
     height: 34px
     +trs
     +rmin(1680)
       width: 40px
       height: 40px
     &:before,
     &:after
       content: 'Share it'
       +casp-reg
       font-size: 16px
       position: relative
       width: 60px
       display: block
     &:before
       color: #475993
       left: -65px
       top: -4px
       +rmin(1680)
         left: -69px
         top: -5px
     &:after
       color: #fff
       left: 40px
       top: -44px
       +rmin(1680)
         left: 45px
         top: -55px
     i
       width: 15px
       height: 30px
       +vcenter
     svg
       width: 100%
       height: 100%
