// variables
$accent: #f6cb02

// fonts
+font(Casper-Regular, Casper-Regular)
+font(Casper-Bold, Casper-Bold)
+font(FuturaPT-Demi, FuturaPT-Demi)
+font(FuturaPT-Bold, FuturaPT-Bold)
+font(FuturaPT-Book, FuturaPT-Book)

$default-fonts: Arial, sans-serif

=casp-reg
   font-family: Casper-Regular, $default-fonts

=casp-bold
   font-family: Casper-Bold, $default-fonts

=futura-demi
   font-family: FuturaPT-Demi, $default-fonts

=futura-bold
   font-family: FuturaPT-Bold, $default-fonts

=futura-book
   font-family: FuturaPT-Book, $default-fonts

// base transition
=trs
   transition: all .25s ease-in-out

=trs-search
   transition: all .3s ease-in-out

// base styles

html
   height: 100%
   width: 100%
   overflow: hidden

body
   min-height: 100%
   min-width: 768px
   font-family: 'Casper-Regular', Arial, sans-serif
   font-size: 18px
   line-height: 1.2

.out
   overflow: hidden
   min-height: 100vh
   position: relative

img
   max-width: 100%
   vertical-align: top

a
   color: inherit
   text-decoration: none

.title
   font-size: 20px
   color: rgba(#010101, .8)
   text-transform: uppercase
   +futura-bold

.input
   width: 100%
   transition: color .3s, border .3s
   white-space: nowrap
   text-overflow: ellipsis
   font-size: 16px
   border-radius: 2px
   border: 1px solid #6b6b6b
   height: 40px
   line-height: 38px
   +casp-reg
   +placeholder
      font-size: 16px
   +placeholder-color(#000)
   &__text
      display: inline-block
      font-size: 18px
      margin-bottom: 5px


.checkbox
   display: inline-block
   cursor: pointer
   input
      display: none
   input:checked + label .checkbox__check
      background-color: #000
      &_yellow
        background-color: #f6cb02
      &_red
        background-color: #ee5004
   input:checked + label .checkbox__check::after
      opacity: 1
      transform: scale(.65)
   label
      display: block
      cursor: pointer
      z-index: 10
      position: relative
   &__check
      position: relative
      display: inline-block
      vertical-align: middle
      width: 20px
      height: 20px
      border: 1px solid #000
      overflow: hidden
      margin-bottom: 8px
      margin-right: 5px
      +trs-search
      &::after
         content: ''
         position: absolute
         top: -1px
         left: -3px
         opacity: 0
         transform: scale(1.2)
         +trs-search
         +s('checked')
      &_yellow
         border-color: #f6cb02
         left: -25px
         position: absolute
      &_red
         border-color: #ee5004
         left: -25px
         position: absolute
      &_l
         width: 23px
         height: 23px
         border-width: 3px
         /*+rmin(1366)
            width: 33px
            height: 33px*/
   &__pic
      position: relative
      display: inline-block
      vertical-align: middle
      width: 20px
      height: 27px
      &_search
         background-repeat: no-repeat
         background-position: 50% 50%
         background-size: contain
         position: absolute
         top: -33px
         left: -38px
         transform: scale(.34)
         display: block
         width: 60px
         height: 78px
   &__name
      display: inline-block
      vertical-align: middle
      margin-bottom: 7px
      text-align: left
      font-size: 18px
      &_l
        font-size: 16px
        +futura-book
        /*+rmin(1366)
          font-size: 26px*/
      &_white
        color: #fff

.checkbox_mod
   position: relative
   .checkbox
      &__name
          margin-left: 0
          padding-left: 30px
      &__check
          position: absolute
          top: 0
          left: 0

.checkbox_l
  label
    display: inline-block
    padding-left: 28px
    +rmin(1680)
      padding-left: 33px
  input:checked + label .checkbox__check::after
     transform: scale(.8)
     /*+rmin(1366)
       transform: scale(1)*/
  .checkbox
    &__check
      left: 0
      &:after
        top: -3px
        left: -3px
        transform: scale(1.5)
        transition: none
        /*+rmin(1366)
          top: 3px
          left: 3px
          transition: none*/
    &__name
      margin: 0
      padding-left: 0

.img-check
   position: relative
   z-index: 1
   width: 50%
   background-color: #dbdbdb
   padding-bottom: 65px
   +trs-search
   +rmin(1024)
     padding-bottom: 0
   &::before
      display: block
      content: ''
      width: 100%
      padding-top: 65%
      +r(1124)
         padding-top: 100%
   &:hover &__pic
      span
        opacity: 0
        &.hover
          opacity: 1
   input
      display: none
   input:checked ~ .search__type-pic,
   input:checked ~ .search__type-name
      opacity: 1
      color: #000
   input:checked ~ .img-check__pic
      span
        opacity: 0
        &.hover
          opacity: 1
   input:checked + label::before
      background-color: #000
   input:checked + label::after
      transform: scale(.75)
      opacity: 1
      +rmin(1024)
        transform: scale(.9)
      +rmin(1366)
        transform: scale(1)
   label
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      cursor: pointer
      z-index: 10
      &::after,
      &::before
         content: ''
         position: absolute
         +trs-search
      &::before
         top: 10px
         right: 5px
         border: 2px solid #000
         height: 20px
         width: 20px
         background-color: #dbdbdb
         +rmin(1024)
           height: 30px
           width: 30px
         +rmin(1366)
           right: 10px
         +rmin(1680)
           height: 40px
           width: 40px
      &::after
         opacity: 0
         top: 10px
         right: 3px
         transform: scale(.25)
         +s('checked')
         +rmin(1024)
           top: 15px
           right: 8px
         +rmin(1366)
           top: 15px
           right: 13px
         +rmin(1680)
           top: 20px
           right: 18px

   &__pic
      //+vcenter
      //top: 55px
      position: absolute
      top: 0
      left: 50%
      transform: translateX(-50%)
      width: 50px
      height: 100px
      +rmin(1024)
        width: 60px
        height: 80px
      +rmin(1680)
        width: 80px
        height: 110px
      span
        display: block
        width: 100%
        height: 100%
        background-repeat: no-repeat
        background-position: 50% 50%
        background-size: contain
        position: absolute
        top: 0
        left: 0
        +trs-search
        &.hover
          opacity: 0
   &__name
      position: absolute
      top: 100px
      left: 20px
      right: 20px
      text-align: center
      font-size: 14px
      +trs-search
      +rmin(1024)
        font-size: 18px
      +rmin(1680)
        top: 128px

// hide
input[type='checkbox'], select, input[type='radio']
   display: none

// custom scroll
.ps-scrollbar-y
   background-color: rgba(#000, .3)!important

.js-select-field
   .ps-scrollbar-y-rail
      background: #e5e5e5!important
      width: 10px!important
      border-radius: 3px
   .ps-container > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y, .ps-container > .ps-scrollbar-y-rail:active > .ps-scrollbar-y
      width: 6px!important


.js-yacht-scroll, .styled-scroll
   .ps-scrollbar-x-rail,.ps-scrollbar-y-rail
      z-index: 1
   .ps-scrollbar-y-rail
      //left: 0!important
      right: 3px !important
      width: 10px!important
      background-color: rgba(#000, .1)!important
      border-radius: 5px!important
      .ps-scrollbar-y
         left: 2px!important
      &:hover .ps-scrollbar-y,
      &:active .ps-scrollbar-y
         width: auto!important

//.js-scroll-filter
//   &.ps-container
      //overflow-x: hidden!important
      //overflow-y: hidden!important

.ui-datepicker
   z-index: 999!important
