.contacts-container
  position: relative
  overflow: hidden
  height: calc(100vh - 100px)
  margin-top: 100px
  +resp
     height: calc(100vh - 70px)
     margin-top: 70px

.map-wrap
  width: 60%
  margin-left: 40%
  height: 100%
  cursor: pointer
  z-index: 100

.contacts-wrap
  width: 40%
  height: 100%
  position: absolute
  z-index: 200

.contacts-bg
  overflow: hidden
  transform: skewX(-16deg) translateX(-20%)
  position: absolute
  width: 150%
  height: 100%
  box-shadow: 10px 0 20px 0px #a2a2a2

  &__img
    background-image: url(../img/contacts.jpg)
    background-position: 100% 50%
    background-size: cover
    transform: skewX(16deg) translateX(20%)
    width: 100%
    height: 100%

.contacts
  width: 100%
  height: 100%
  position: relative
  z-index: 10
  padding-top: 25px
  padding-left: 25px
  +rmin(1024)
    padding-top: 50px
    padding-left: 50px

  &__title
    +futura-bold
    text-transform: uppercase
    color: #fff
    font-size: 24px
    +rmin(1366)
      font-size: 26px
    +rmin(1680)
      font-size: 30px

  &__social
    padding-top: 20px
    +rmin(1024)
      padding-top: 25px
    +rmin(1680)
      padding-top: 70px

  &__btn-popup
    margin-top: 5%
    +rmin(1366)
      margin-top: 80px

  &__items
    +casp-reg
    width: 65%
    font-size: 18px
    +rmin(1024)
      font-size: 21px
    +rmin(1680)
      font-size: 24px

  &__item
    color: #f6cb02
    margin-top: 5px

    &_title
      color: #fff
      margin-top: 15px
      +rmin(1680)
        margin-top: 45px
