.ui-datepicker
  background-color: #fff
  box-shadow: 4px 4px 34px -4px rgba(0,0,0,0.75)
  .ui-state-default
    background: #fff
    border: none
    text-align: center
    width: 25px
  .ui-state-highlight
    background-color: #c6c6c6
  .ui-state-active
    background-color: $accent
  th
    padding: 15px 3px
  .ui-widget-header
    background: #fff
    border: none
    border-bottom: 2px solid #c6c6c6
    padding-bottom: 20px
  .ui-datepicker-next
    border-color: transparent transparent transparent $accent
  .ui-datepicker-prev
    border-color: transparent $accent transparent transparent
