/*.ui-datepicker
  background-color: #fff
  box-shadow: 4px 4px 34px -4px rgba(0,0,0,0.75)
  .ui-state-default
    background: #fff
    border: none
    text-align: center
    width: 25px
  .ui-state-highlight
    background-color: #c6c6c6
  .ui-state-active
    background-color: $accent
  th
    padding: 15px 3px
  .ui-widget-header
    background: #fff
    border: none
    border-bottom: 2px solid #c6c6c6
    padding-bottom: 20px
  .ui-datepicker-next
    border-color: transparent transparent transparent $accent
  .ui-datepicker-prev
    border-color: transparent $accent transparent transparent*/



.calendar-wrap
	display: none
	position: absolute
	width: 250px
	padding: 15px 20px
	top: -400px
	left: -20%
	z-index: 100
	background-color: #fff
	box-shadow: 4px 4px 34px -4px rgba(0,0,0,0.75)
	+futura-book
	.calendar
		height: auto
		margin-top: 0
		width: 100%
		overflow: hidden
		&__button
			margin-top: 10px
			.btn
				height: 35px
				line-height: 35px
		&__title
			float: none
			color: $black
			font-size: 18px
			width: 100%
			+futura-demi
			text-align: center
		&__years
			margin: 10px 10px 20px
			border-bottom: 1px solid #ccc
			padding-bottom: 10px
			white-space: nowrap
			overflow: hidden
			font-size: 0
			li
				display: inline-block
				width: 33.33%
				text-align: center
				font-size: 24px
				a
					display: block
					color: $black
					opacity: .4
					&.is-active, &:active
						opacity: 1
						color: $accent
		&__button
			text-align: center
		&__main
			overflow: hidden
		.ui-datepicker
			width: 100%
			padding: 0
			color: $black
			font-size: 30px
			border: 0
			background-color: #fff
			.ui-state-default
			   background: #fff
			   border: none
			   text-align: center
			   width: 25px
			.ui-state-highlight
				background-color: #c6c6c6
			.ui-state-active
				background-color: $accent
			.ui-widget-header
				background: none
				border: none
			.ui-datepicker-header
				padding: 0
			.ui-datepicker-calendar
				thead
					position: relative
					&:after
						content: ''
						position: absolute
						left: 30px
						right: 30px
						height: 1px
						background: #ccc
					tr
						height: 40px
					t
						padding-top: 10px
						padding-bottom: 10px
				tbody
					border-top: 15px solid transparent
					tr
						height: 30px
						td
							vertical-align: middle

			.ui-datepicker-title
				margin: 0 20px
				line-height: 1
			.ui-datepicker-other-month
				opacity: .4
			.ui-datepicker-year
				position: absolute
				opacity: 0
				visibility: hidden
			.ui-datepicker-month
				display: block
				width: 50%
				height: 35px
				line-height: 32px
				margin: 0 auto
				border: 1px solid $black
				border-radius: 30px
				font-size: 18px
				text-transform: lowercase
			.ui-datepicker-next, .ui-datepicker-prev
				top: 0
				width: 20%
				height: 35px
				border: 1px solid $black
				border-radius: 30px
				background-size: 35%
				background-repeat: no-repeat
				background-position: 50% 50%
				.ui-icon
					display: none
			.ui-datepicker-next
				right: 10px
				background-image: url(../img/arrow-right.svg)
			.ui-datepicker-prev
				left: 10px
				background-image: url(../img/arrow-left.svg)
	&.is-open
		display: block
