---
title: 404
---
extends layouts/_layout
block content
   // BEGIN 404
   .error404
     p.error404__text Похоже, страница затерялась в мировом океане
     .error404__social
       a(href="#").btn.error404__social-btn.error404__social-btn_yt
       a(href="#").btn.error404__social-btn.error404__social-btn_fb
       a(href="#").btn.error404__social-btn.error404__social-btn_inst
     .error404__btn-container
       a.btn.error404__btn.error404__btn_register(href="#") На главную
       a.btn.error404__btn.error404__btn_calendar(href="#") Календарь
