---
title: 404
---
extends layouts/_layout
block content
   // BEGIN 404
   .error404
     p.error404__text Похоже, страница затерялась в мировом океане
     .error404__social
       +socials-btn('socials-btn_yt socials-btn_white')
       +socials-btn('socials-btn_fb socials-btn_white')
       +socials-btn('socials-btn_inst socials-btn_white')
     .error404__btn-container
       a.btn.error404__btn.error404__btn_register(href="#") На главную
       a.btn.error404__btn.error404__btn_calendar(href="#") Календарь
