---
title: Calendar
---
extends layouts/_layout
block content
   // BEGIN calendar

   .calendar
      .calendar__top.directions.directions--calendar
        .directions__title Направления
      .calendar__datepicker
         form.datepicker.js-datepicker
            .datepicker__row
               button(type="button" data-direction="prev").datepicker__btn-left.js-datepicker-btn
                  +icon('icon-arrow')
               button(type="button").datepicker__select.js-open-datepicker
                  span.js-datepicker-text Окт 2016
                  +icon('icon-arrow-sm')
               button(type="button" data-direction="next").datepicker__btn-right.js-datepicker-btn
                  +icon('icon-arrow')
            .datepicker__dropdown.js-datepicker-dropdown
               .datepicker__header
                  .datepicker__year
                     label.datepicker__input.js-datepicker-year
                        input(type="radio" name="datepickerYear" data-type="year" data-val="2015")
                        span 2015
                  .datepicker__year
                     label.datepicker__input.js-datepicker-year
                        input(type="radio" checked="true" name="datepickerYear" data-type="year" data-val="2016")
                        span 2016
                  .datepicker__year
                     label.datepicker__input.js-datepicker-year
                        input(type="radio" name="datepickerYear" data-type="year" data-val="2017")
                        span 2017
               .datepicker__body
                  - var months = ['Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июн', 'Июл', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек']
                  - for (var i = 0; i < months.length; ++i) {
                     .datepicker__month
                        label.datepicker__input.js-datepicker-month
                           - if (i == 9) {
                              input(type="radio" checked="true" name="datepickerMonth" data-type="month" data-val=months[i])
                           - } else {
                              input(type="radio" name="datepickerMonth" data-type="month" data-val=months[i])
                           -}
                           span= months[i]
                  - }

      .calendar__layout
         .calendar__chapter
            .calendar__title
               .directions__link.directions__link--academy(href='#') Академия
            .calendar__items.js-row
               .calendar__row.js-row-inner
                  .calendar__event.js-infromation-more(data-information-for-popup='{"title": "1Поход на болеарские острова", "img": "img/content/more.jpg", "text": "Поистине богемые и аристократические места, обоснованные творческой интеллигенцией с 19 века. Время проведения: 27 октября.", "link": "#1"}')
                     .calendar__event-img(style='background-image: url(img/content/calendar-1.jpg)')
                     .calendar__event-descr
                        .calendar__event-text IYT Group 2&5
                        .calendar__event-text 1-25 окт. 2016
                        a.calendar__event-more.btn.js-open-popup-more(href='#' data-open="more") Подробнее
                           +icon('icon-arrow')
                  .calendar__event.js-infromation-more(data-information-for-popup='{"title": "Поход на болеарские острова", "img": "img/content/more.jpg", "text": "Поистине богемые и аристократические места, обоснованные творческой интеллигенцией с 19 века. Время проведения: 27 октября.", "link": "#"}')
                     .calendar__event-img(style='background-image: url(img/content/calendar-2.jpg)')
                     .calendar__event-descr
                        .calendar__event-text Brodica Group 2&5
                        .calendar__event-text 1-25 окт. 2016
                        a.calendar__event-more.btn.js-open-popup-more(href='#' data-open="more") Подробнее
                           +icon('icon-arrow')
                  .calendar__event.js-infromation-more(data-information-for-popup='{"title": "Поход на болеарские острова", "img": "img/content/more.jpg", "text": "Поистине богемые и аристократические места, обоснованные творческой интеллигенцией с 19 века. Время проведения: 27 октября.", "link": "#"}')
                     .calendar__event-img(style='background-image: url(img/content/calendar-3.jpg)')
                     .calendar__event-descr
                        .calendar__event-text RYA Group 2&5
                        .calendar__event-text 1-25 окт. 2016
                        a.calendar__event-more.btn.js-open-popup-more(href='#' data-open="more") Подробнее
                           +icon('icon-arrow')
                  .calendar__event.js-infromation-more(data-information-for-popup='{"title": "Поход на болеарские острова", "img": "img/content/more.jpg", "text": "Поистине богемые и аристократические места, обоснованные творческой интеллигенцией с 19 века. Время проведения: 27 октября.", "link": "#"}')
                     .calendar__event-img(style='background-image: url(img/content/calendar-4.jpg)')
                     .calendar__event-descr
                        .calendar__event-text Практика Турция
                        .calendar__event-text 15 окт. 2016
                        a.calendar__event-more.btn.js-open-popup-more(href='#' data-open="more") Подробнее
                           +icon('icon-arrow')
                  .calendar__event.js-infromation-more(data-information-for-popup='{"title": "Поход на болеарские острова", "img": "img/content/more.jpg", "text": "Поистине богемые и аристократические места, обоснованные творческой интеллигенцией с 19 века. Время проведения: 27 октября.", "link": "#"}')
                     .calendar__event-img(style='background-image: url(img/content/calendar-5.jpg)')
                     .calendar__event-descr
                        .calendar__event-text Средиземноморье. Удивительное приключение на уикенд
                        .calendar__event-text 1-25 окт. 2016
                        a.calendar__event-more.btn.js-open-popup-more(href='#' data-open="more") Подробнее
                           +icon('icon-arrow')
                  .calendar__event.js-infromation-more(data-information-for-popup='{"title": "Поход на болеарские острова", "img": "img/content/more.jpg", "text": "Поистине богемые и аристократические места, обоснованные творческой интеллигенцией с 19 века. Время проведения: 27 октября.", "link": "#"}')
                     .calendar__event-img(style='background-image: url(img/content/calendar-6.jpg)')
                     .calendar__event-descr
                        .calendar__event-text Практика Турция
                        .calendar__event-text 1-25 окт. 2016
                        a.calendar__event-more.btn.js-open-popup-more(href='#' data-open="more") Подробнее
                           +icon('icon-arrow')
                  .calendar__event.js-infromation-more(data-information-for-popup='{"title": "Поход на болеарские острова", "img": "img/content/more.jpg", "text": "Поистине богемые и аристократические места, обоснованные творческой интеллигенцией с 19 века. Время проведения: 27 октября.", "link": "#"}')
                     .calendar__event-img(style='background-image: url(img/content/calendar-4.jpg)')
                     .calendar__event-descr
                        .calendar__event-text Практика Турция
                        .calendar__event-text 1-25 окт. 2016
                        a.calendar__event-more.btn.js-open-popup-more(href='#' data-open="more") Подробнее
                           +icon('icon-arrow')

         .calendar__chapter
            .calendar__title
               .directions__link.directions__link--wiki(href='#') Яхт вики
            .calendar__items.js-row
               .calendar__row.js-row-inner
                  .calendar__event.calendar__event--lg.js-infromation-more(data-information-for-popup='{"title": "Поход на болеарские острова", "img": "img/content/more.jpg", "text": "Поистине богемые и аристократические места, обоснованные творческой интеллигенцией с 19 века. Время проведения: 27 октября.", "link": "#"}')
                     .calendar__event-img(style='background-image: url(img/content/calendar-8.jpg)')
                     .calendar__event-descr
                        .calendar__event-text Средиземноморье. Удивительное приключение на уикенд
                        .calendar__event-text 1-25 окт. 2016
                        a.calendar__event-more.btn.js-open-popup-more(href='#' data-open="more") Подробнее
                           +icon('icon-arrow')
                  .calendar__event.calendar__event--lg.js-infromation-more(data-information-for-popup='{"title": "Поход на болеарские острова", "img": "img/content/more.jpg", "text": "Поистине богемые и аристократические места, обоснованные творческой интеллигенцией с 19 века. Время проведения: 27 октября.", "link": "#"}')
                     .calendar__event-img(style='background-image: url(img/content/calendar-9.jpg)')
                     .calendar__event-descr
                        .calendar__event-text Регата Turkie MIRW
                        .calendar__event-text 15-25 окт. 2016
                        a.calendar__event-more.btn.js-open-popup-more(href='#' data-open="more") Подробнее
                           +icon('icon-arrow')
         .calendar__chapter
            .calendar__title
               .directions__link.directions__link--events(href='#') Ивенты
            .calendar__items.js-row
               .calendar__row.js-row-inner
                  .calendar__event.calendar__event--variable.js-infromation-more(data-information-for-popup='{"title": "Поход на болеарские острова", "img": "img/content/more.jpg", "text": "Поистине богемые и аристократические места, обоснованные творческой интеллигенцией с 19 века. Время проведения: 27 октября.", "link": "#"}')
                     .calendar__event-img(style='background-image: url(img/content/calendar-10.jpg)')
                     .calendar__event-descr
                        .calendar__event-text Канары
                        .calendar__event-text 1-25 окт. 2016
                        a.calendar__event-more.btn.js-open-popup-more(href='#' data-open="more") Подробнее
                           +icon('icon-arrow')
                  .calendar__event.calendar__event--variable.js-infromation-more(data-information-for-popup='{"title": "Поход на болеарские острова", "img": "img/content/more.jpg", "text": "Поистине богемые и аристократические места, обоснованные творческой интеллигенцией с 19 века. Время проведения: 27 октября.", "link": "#"}')
                     .calendar__event-img(style='background-image: url(img/content/calendar-11.jpg)')
                     .calendar__event-descr
                        .calendar__event-text Закрытие сезона
                        .calendar__event-text 1-25 окт. 2016
                        a.calendar__event-more.btn.js-open-popup-more(href='#' data-open="more") Подробнее
                           +icon('icon-arrow')
                  .calendar__event.calendar__event--variable.js-infromation-more(data-information-for-popup='{"title": "Поход на болеарские острова", "img": "img/content/more.jpg", "text": "Поистине богемые и аристократические места, обоснованные творческой интеллигенцией с 19 века. Время проведения: 27 октября.", "link": "#"}')
                     .calendar__event-img(style='background-image: url(img/content/calendar-12.jpg)')
                     .calendar__event-descr
                        .calendar__event-text Средиземноморье. Удивительное приключение на уикенд
                        .calendar__event-text 1-25 окт. 2016
                        a.calendar__event-more.btn.js-open-popup-more(href='#' data-open="more") Подробнее
                           +icon('icon-arrow')
                  .calendar__event.calendar__event--variable.js-infromation-more(data-information-for-popup='{"title": "Поход на болеарские острова", "img": "img/content/more.jpg", "text": "Поистине богемые и аристократические места, обоснованные творческой интеллигенцией с 19 века. Время проведения: 27 октября.", "link": "#"}')
                     .calendar__event-img(style='background-image: url(img/content/calendar-13.jpg)')
                     .calendar__event-descr
                        .calendar__event-text Закрытие сезона
                        .calendar__event-text 1-25 окт. 2016
                        a.calendar__event-more.btn.js-open-popup-more(href='#' data-open="more") Подробнее
                           +icon('icon-arrow')
                  .calendar__event.calendar__event--variable.js-infromation-more(data-information-for-popup='{"title": "Поход на болеарские острова", "img": "img/content/more.jpg", "text": "Поистине богемые и аристократические места, обоснованные творческой интеллигенцией с 19 века. Время проведения: 27 октября.", "link": "#"}')
                     .calendar__event-img(style='background-image: url(img/content/calendar-14.jpg)')
                     .calendar__event-descr
                        .calendar__event-text Средиземноморье. Удивительное приключение на уикенд
                        .calendar__event-text 1-25 окт. 2016
                        a.calendar__event-more.btn.js-open-popup-more(href='#' data-open="more") Подробнее
                           +icon('icon-arrow')

   include partials/_popup
   // END calendar
