---
title: Event
---
extends layouts/_layout
block content
  // BEGIN Event
  ul.yacht-wiki-menu.js-event-menu
      li(data-menuanchor="event").yacht-wiki-menu__item
          a(href="#event") событие
      li(data-menuanchor="details").yacht-wiki-menu__item
          a(href="#details") детали
      li(data-menuanchor="place").yacht-wiki-menu__item
          a(href="#place") время и место
      li(data-menuanchor="partners").yacht-wiki-menu__item
          a(href="#partners") партнеры 
      li(data-menuanchor="registration").yacht-wiki-menu__item
          a(href="#registration") регистрация
  .event-fp
      section.fp-section
          .descr(style='background-image:url(img/event/event-bg.jpg)')
              .descr__title
                  span Открытие яхтенного сезона 2017
                  span C FLEET 5
                  span 
                  span 12 апреля
              .descr__video-btn
                  span Посмотрите видео
              .event-btn-container
                  a.btn.event__btn.event__btn_calendar(href="#") Календарь
          .descr-video
            .descr-video__close.close.close_yellow
            iframe(width="100%" height="100%" src="https://www.youtube.com/embed/EqWaGt2tYOU" frameborder="0" allowfullscreen)
      section.fp-section
          .details
            ul.carousel
              li
                img(src="img/event/event-carousel-1.jpg")
              li
                img(src="img/event/event-carousel-2.jpg")
              li
                img(src="img/event/event-carousel-3.jpg")
              li
                img(src="img/event/event-carousel-1.jpg")
              li
                img(src="img/event/event-carousel-2.jpg")
              li
                img(src="img/event/event-carousel-3.jpg")
            .details__controll-btn-container
              button(type="button").controll__btn.controll__btn_left.js-details-left
                +icon('icon-arrow')
              button(type="button").controll__btn.controll__btn_right.js-details-right
                +icon('icon-arrow')
            .event-btn-container
                a.btn.event__btn.event__btn_calendar(href="#") Календарь

      section.fp-section
        .skew-section.skew-section_programm
              .event-place
                .event-place__title Грандиозное открытие яхтенного сезона <br>на террасе FLEET5!
                .event-place__items
                  .event-place__item_title Звездные гости, вкусная еда и отличная музыка от группы Zetetics и Dj Jean Gritsfeldt. <br>С нами празднуют Playboy и Officiel Online. 
        
                  .event-place__item_title-bold 12 апреля в 19:00, <br>терраса FLEET5
        
                  .event-place__item_title Вход только по пригласительным.
        
                a.btn.event__btn.event__btn_calendar(href="#") Календарь
        .content-section
          .event-map
            
      section.fp-section
        .e-partners-wrap
          .e-partners-title информационные партнеры
          .e-partners-content
            a(href='#').e-partners-item
              .e-partners-item__img
                img(src='img/event/partner-1.png')
              span Вокруг света
            a(href='#').e-partners-item
              .e-partners-item__img
                img(src='img/event/partner-2.png')
              span Деловая столица
            a(href='#').e-partners-item
              .e-partners-item__img
                img(src='img/event/partner-3.png')
              span ДЕПО
            a(href='#').e-partners-item
              .e-partners-item__img
                img(src='img/event/partner-4.png')
              span Playboy
            a(href='#').e-partners-item
              .e-partners-item__img
                img(src='img/event/partner-5.png')
              span Officiel online
          .partners-btn-container
              a.btn.event__btn.event__btn_calendar(href="#") Календарь
              
      section.fp-section
        .checkin(style='background-image:url(img/event/thank_you.jpg)')
          .checkin__content
            .checkin__title решайтесь, это будет грандиозно!
            .checkin-social
              a(href="#").checkin-social__link.checkin-social__link_yt
              a(href="#").checkin-social__link.checkin-social__link_fb
              a(href="#").checkin-social__link.checkin-social__link_inst
            .checkin-form
              .checkin-form__input
                label(for="name") Имя и фамилия
                input(type="text" id="name" placeholder="Имя Фамилия")

              .checkin-form__input
                label(for="phone") Телефон
                input(type="text" id="phone" placeholder="(0--) --- -- --")

              .checkin-form__input
                label(for="email") Email
                input(type="text" id="email" placeholder="name@mail.com").error

              .checkin-form__btn-container
                a.btn.checkin-form__btn.checkin-form__btn_reg.js-enroll(href="#") Записаться
                a.btn.btn_dark.checkin-form__btn(href="#") Календарь
          
