---
title: Index Page
---
extends layouts/_layout
block content
   header.header(style="position: relative; z-index: 98")
      a.header__back-btn(href='#')
         i.header__back-icon
            +icon('icon-arrow')
      a.logo(href='index.html')
         img(src='img/logo.png' alt='logo')
      ul.nav.js-nav
         li.nav__item.is-active
            a.nav__link(href='#') Services
            ul.nav__sub-nav
               li.nav__sub-item
                  a.nav__sub-link(href='#') Yacht week
               li.nav__sub-item
                  a.nav__sub-link(href='#') Yacht charters
               li.nav__sub-item
                  a.nav__sub-link(href='#') Regattas
               li.nav__sub-item
                  a.nav__sub-link(href='#') Academy
         li.nav__item
            a.nav__link(href='#') Calendar
         li.nav__item
            a.nav__link(href='#') News
         li.nav__item
            a.nav__link(href='#') Contacts
         li.nav__line.js-moving-line
      a.header__phone(href='tel:0442544545') 044 254 45 45
      ul.header__lang.lang
         li
            a(href="#" class="is-active")
               span RU
         li
            a(href="#")
               span EN
   div(style='display: flex; flex-direction: column; align-items: flex-start;')
      h1 PAGES:
      a(href='yacht_card.html') 1) yacht card
      a(href='search-page_quick.html') 2) search-page_quick
      a(href='search-page_advanced.html') 3) search-page_advanced
      a(href='calendar.html') 4) calendar
      a(href='yacht-wiki.html') 5) yacht-wiki
      a(href='contacts.html') 6) contacts
      a(href='main.html') 7) main
      a(href='yacht-wiki-main.html') 8) yacht-wiki-main
      a(href='yacht-wiki-archive.html') 9) yacht-wiki-archive
      a(href='yacht-wiki-archive-open.html') 10) yacht-wiki-archive-open
      a(href='academy.html') 11) academy
      a(href='news.html') 12) news
      a(href='news-archive.html') 13) news archive
      a(href='news-open.html') 14) news open
      a(href='event.html') 15) event
      a(href='404.html') 16) 404
      a(href='new-archive-open.html') 17) new-archive
      a(href='popup-email.html') 18) popup email
      a(href='popup-email-thnk.html') 19) popup email thank
      a(href='popup-acquiring.html') 20) popup acquiring
      a(href='popup-acquiring-error.html') 21) popup acquiring error
      a(href='search-page_quick_new.html') 22) search-page quick new
