---
title: Fleet5
---
extends layouts/_layout
block content
  .section
    .cards-container
      .card-container
        a(href='#').hover.hover_link.hover_1
        .main-card.main-card_1
          .card-small
            .card-small__title
              .card-small__title-inner
                div
                  p яхт-вики

          .card-front
            img(src="img/1.png" alt="").card-front__img
            img(src="img/1_d.png" alt="").card-front__img.card-front__img_dark
            .card-front__frame
              .card-front__frame-face
              .card-front__frame-under
              .card-front__title.card-front__title_bottom яхт-вики
              .card-front__title.card-front__title_top яхт-вики

      .card-container
        a(href='#').hover.hover_link.hover_2
        .main-card.main-card_2
          .card-small
            .card-small__title
              .card-small__title-inner
                div
                  p аренда яхт

          .card-front
            img(src="img/2.png" alt="").card-front__img
            img(src="img/2_d.png" alt="").card-front__img.card-front__img_dark
            .card-front__frame
              .card-front__frame-face
              .card-front__frame-under
              .card-front__title.card-front__title_bottom аренда яхт
              .card-front__title.card-front__title_top аренда яхт

      .card-container
        a(href='#').hover.hover_link.hover_3
        .main-card.main-card_3
          .card-small
            .card-small__title
              .card-small__title-inner
                div
                  p регаты

          .card-front
            img(src="img/3.png" alt="").card-front__img
            img(src="img/3_d.png" alt="").card-front__img.card-front__img_dark
            .card-front__frame
              .card-front__frame-face
              .card-front__frame-under
              .card-front__title.card-front__title_bottom регаты
              .card-front__title.card-front__title_top регаты

      .card-container
        .hover.hover_4
        .main-card.main-card_4
          .card-small
            .card-small__title
              .card-small__title-inner
                div
                  p академия

          .card-front
            img(src="img/4.png" alt="").card-front__img
            img(src="img/4_d.png" alt="").card-front__img.card-front__img_dark
            .card-front__frame
              .card-front__frame-face
              .card-front__frame-under
              .card-front__title.card-front__title_bottom академия
              .card-front__title.card-front__title_top академия
          .card-open
            .card-open__content-container
              .card-open__content
                .card-open__title Академия
                ul.card-open__items
                  li.card-open__item
                    .card-open__link-container
                      a(href="#").card-open__link
                        span Лицензии
                    p.card-open__descr
                      span Тут возможно будет краткое описание выбранного раздела. В данном случае это краткое описание международных лицензий
                  li.card-open__item
                    .card-open__link-container
                      a(href="#").card-open__link
                        span Теоретический курс
                    p.card-open__descr
                      span Тут возможно будет краткое описание выбранного раздела.
                  li.card-open__item
                    .card-open__link-container
                      a(href="#").card-open__link
                        span Практический курс
                    p.card-open__descr
                      span Тут возможно будет краткое описание выбранного раздела.
                  li.card-open__item
                    .card-open__link-container
                      a(href="#").card-open__link
                        span Инструкторы
                    p.card-open__descr
                      span Тут возможно будет краткое описание выбранного раздела.
                  li.card-open__item
                    .card-open__link-container
                      a(href="#").card-open__link
                        span Классы обучения
                    p.card-open__descr
                      span Тут возможно будет краткое описание выбранного раздела.
                  li.card-open__item
                    .card-open__link-container
                      a(href="#").card-open__link
                        span Флотилии молодых капитанов
                    p.card-open__descr
                      span Тут возможно будет краткое описание выбранного раздела.
            .card-open__img-wrap
              .card-open__img.active
              .card-open__img
              .card-open__img
              .card-open__img
              .card-open__img
              .card-open__img
              .card-open__img-mask
            button.close.close_card.card-open__close.js-card-close
