---
title: News
---
extends layouts/_layout 
block content
   // BEGIN news
   .news-main
     .news-top
       .checkbox-wrap
         .news-top__checkbox
           .checkbox
              input(type='checkbox' id='news' name='news' checked)
              label(for='news')
                 .checkbox__name Новости
                 .checkbox__check.checkbox__check_yellow
         .news-top__checkbox
           .checkbox
              input(type='checkbox' id='event' name='event' checked)
              label(for='event')
                 .checkbox__name События
                 .checkbox__check.checkbox__check_red
       .news-tob__btn-container
         button(type="button").controll-btn.controll-btn_left.js-news-left
           +icon('icon-arrow')
         button(type="button").controll-btn.controll-btn_right.js-news-right
           +icon('icon-arrow')
       a(href='#').btn.news-top__btn.btn_yellow.news-top__btn_archive Архив новостей
     .news-content-wrap
       .news-content
         .news-post
           .news-post__img(style='background-image: url(img/news/pic-1.jpg)')
              .news-post__desc
                .news-post__text
                  .news-post__label.news-post__label_news Новости
                  h2.news-post__title Где отдыхать на яхте зимой
                  p.news-post__date ноябрь 8, 2016
                button.news-post__btn.btn перейти
         .news-post
           .news-post__img(style='background-image: url(img/news/pic-2.jpg)')
              .news-post__desc
                .news-post__text
                  .news-post__label.news-post__label_event Событие
                  h2.news-post__title Где отдыхать на яхте зимой
                  p.news-post__date ноябрь 8, 2016
                button.news-post__btn.btn перейти
         .news-post
           .news-post__img(style='background-image: url(img/news/pic-3.jpg)')
              .news-post__desc
                .news-post__text
                  .news-post__label.news-post__label_news Новости
                  h2.news-post__title Где отдыхать на яхте зимой
                  p.news-post__date ноябрь 8, 2016
                button.news-post__btn.btn перейти
         .news-post
           .news-post__img(style='background-image: url(img/news/pic-4.jpg)')
              .news-post__desc
                .news-post__text
                  .news-post__label.news-post__label_news Новости
                  h2.news-post__title Где отдыхать на яхте зимой
                  p.news-post__date ноябрь 8, 2016
                button.news-post__btn.btn перейти
         .news-post
           .news-post__img(style='background-image: url(img/news/pic-1.jpg)')
              .news-post__desc
                .news-post__text
                  .news-post__label.news-post__label_event Событие
                  h2.news-post__title Где отдыхать на яхте зимой
                  p.news-post__date ноябрь 8, 2016
                button.news-post__btn.btn перейти
         .news-post
           .news-post__img(style='background-image: url(img/news/pic-3.jpg)')
              .news-post__desc
                .news-post__text
                  .news-post__label.news-post__label_event Событие
                  h2.news-post__title Где отдыхать на яхте зимой
                  p.news-post__date ноябрь 8, 2016
                button.news-post__btn.btn перейти
         .news-post
           .news-post__img(style='background-image: url(img/news/pic-2.jpg)')
              .news-post__desc
                .news-post__text
                  .news-post__label.news-post__label_news Новости
                  h2.news-post__title Где отдыхать на яхте зимой
                  p.news-post__date ноябрь 8, 2016
                button.news-post__btn.btn перейти
         .news-post
           .news-post__img(style='background-image: url(img/news/pic-1.jpg)')
              .news-post__desc
                .news-post__text
                  .news-post__label.news-post__label_event Событие
                  h2.news-post__title Где отдыхать на яхте зимой
                  p.news-post__date ноябрь 8, 2016
                button.news-post__btn.btn перейти
         .news-post
           .news-post__img(style='background-image: url(img/news/pic-1.jpg)')
              .news-post__desc
                .news-post__text
                  .news-post__label.news-post__label_event Событие
                  h2.news-post__title Где отдыхать на яхте зимой
                  p.news-post__date ноябрь 8, 2016
                button.news-post__btn.btn перейти
         .news-post
           .news-post__img(style='background-image: url(img/news/pic-1.jpg)')
              .news-post__desc
                .news-post__text
                  .news-post__label.news-post__label_event Событие
                  h2.news-post__title Где отдыхать на яхте зимой
                  p.news-post__date ноябрь 8, 2016
                button.news-post__btn.btn перейти
         .news-post
           .news-post__img(style='background-image: url(img/news/pic-1.jpg)')
              .news-post__desc
                .news-post__text
                  .news-post__label.news-post__label_event Событие
                  h2.news-post__title Где отдыхать на яхте зимой
                  p.news-post__date ноябрь 8, 2016
                button.news-post__btn.btn перейти
         .news-post
           .news-post__img(style='background-image: url(img/news/pic-1.jpg)')
              .news-post__desc
                .news-post__text
                  .news-post__label.news-post__label_event Событие
                  h2.news-post__title Где отдыхать на яхте зимой
                  p.news-post__date ноябрь 8, 2016
                button.news-post__btn.btn перейти
         .news-post
           .news-post__img(style='background-image: url(img/news/pic-1.jpg)')
              .news-post__desc
                .news-post__text
                  .news-post__label.news-post__label_event Событие
                  h2.news-post__title Где отдыхать на яхте зимой
                  p.news-post__date ноябрь 8, 2016
                button.news-post__btn.btn перейти
