---
title: Popup Email
---
extends layouts/_layout 
block content
   // BEGIN popup
   .popup.popup_email.js-popup-email.is-open
     .popup__in
       .popup__body
         .email
           h2.email__title будем на связи!
           .email__body.email__body_thnk
             .email__pic
               img(src='img/email-thnk.png')
             p.email__text.email__text_l
               | Спасибо!
               br
               | Подписка оформлена.
             button(type="button").popup__close.js-close-popup-email
               p.popup__close-text Закрыть форму
               .popup__close-icon
                 +icon('icon-close-m')
