---
title: search-page_quick
---
extends layouts/_layout
block content
   // BEGIN search
   .search
      form(action='#')
         .search__inner
            .search__regions
               .search__region
                  input(type='checkbox' id='west_africa' name='west_africa')
                  label(for='west_africa')
                  p.search__region-season
                    | Сезон: 
                    span КРУГЛЫЙ ГОД
                  .search__region-images
                     img.search__region-pic(src='img/r11.png')
                     .search__region-img(style='background-image: url(img/r12.png)')
                  .search__region-name Азия
               .search__region
                  input(type='checkbox' id='middle_east' name='middle_east')
                  label(for='middle_east')
                  p.search__region-season
                    | Сезон: 
                    span КРУГЛЫЙ ГОД (КАНАРСКИЕ ОСТРОВА)
                  .search__region-images
                     img.search__region-pic(src='img/r21.png')
                     .search__region-img(style='background-image: url(img/r22.png)')
                  .search__region-name Атлантический океан
               .search__region
                  input(type='checkbox' id='south_america' name='south_america')
                  label(for='south_america')
                  p.search__region-season
                    | Сезон: 
                    span НОЯ - МАЙ
                  .search__region-images
                     img.search__region-pic(src='img/r31.png')
                     .search__region-img(style='background-image: url(img/r32.png)')
                  .search__region-name Багамские острова
               .search__region
                  input(type='checkbox' id='central_america' name='central_america')
                  label(for='central_america')
                  p.search__region-season
                    | Сезон: 
                    span МАЙ - СЕН
                  .search__region-images
                     img.search__region-pic(src='img/r41.png')
                     .search__region-img(style='background-image: url(img/r42.png)')
                  .search__region-name БАЛТИЙСКОЕ МОРЕ
               .search__region
                  input(type='checkbox' id='north_america' name='north_america')
                  label(for='north_america')
                  p.search__region-season
                    | Сезон: 
                    span НОЯ - ИЮН
                  .search__region-images
                     img.search__region-pic(src='img/r51.png')
                     .search__region-img(style='background-image: url(img/r52.png)')
                  .search__region-name КАРИБСКИЕ ОСТРОВА
               .search__region
                  input(type='checkbox' id='northern_europe' name='northern_europe')
                  label(for='northern_europe')
                  p.search__region-season
                    | Сезон: 
                    span НОЯ - МАЙ
                  .search__region-images
                     img.search__region-pic(src='img/r61.png')
                     .search__region-img(style='background-image: url(img/r62.png)')
                  .search__region-name ЦЕНТРАЛЬНАЯ И ЮЖНАЯ АМЕРИКА
               .search__region
                  input(type='checkbox' id='caribs' name='caribs')
                  label(for='caribs')
                  p.search__region-season
                    | Сезон: 
                    span КРУГЛЫЙ ГОД
                  .search__region-images
                     img.search__region-pic(src='img/r71.png')
                     .search__region-img(style='background-image: url(img/r72.png)')
                  .search__region-name КУБА
               .search__region
                  input(type='checkbox' id='australia_and_oceania' name='australia_and_oceania')
                  label(for='australia_and_oceania')
                  p.search__region-season
                    | Сезон: 
                    span МАЙ - СЕН
                  .search__region-images
                     img.search__region-pic(src='img/r81.png')
                     .search__region-img(style='background-image: url(img/r82.png)')
                  .search__region-name ЕВРОПА - АТЛАНТИКА
               .search__region
                  input(type='checkbox' id='southeas_asia' name='southeas_asia')
                  label(for='southeas_asia')
                  p.search__region-season
                    | Сезон: 
                    span КРУГЛЫЙ ГОД
                  .search__region-images
                     img.search__region-pic(src='img/r91.png')
                     .search__region-img(style='background-image: url(img/r92.png)')
                  .search__region-name ИНДИЙСКИЙ ОКЕАН
               .search__region
                  input(type='checkbox' id='atlantic_europe' name='atlantic_europe')
                  label(for='atlantic_europe')
                  p.search__region-season
                    | Сезон: 
                    span АПР - НОЯ
                  .search__region-images
                     img.search__region-pic(src='img/r101.png')
                     .search__region-img(style='background-image: url(img/r102.png)')
                  .search__region-name СРЕДИЗЕМНОЕ МОРЕ
               .search__region
                  input(type='checkbox' id='indian_ocean' name='indian_ocean')
                  label(for='indian_ocean')
                  p.search__region-season
                    | Сезон: 
                    span КРУГЛЫЙ ГОД (в разных регионах)
                  .search__region-images
                     img.search__region-pic(src='img/r111.png')
                     .search__region-img(style='background-image: url(img/r112.png)')
                  .search__region-name ТИХИЙ ОКЕАН
               .search__region
                  input(type='checkbox' id='mediterranean' name='mediterranean')
                  label(for='mediterranean')
                  p.search__region-season
                    | Сезон: 
                    span КРУГЛЫЙ ГОД (в разных регионах)
                  .search__region-images
                     img.search__region-pic(src='img/r121.png')
                     .search__region-img(style='background-image: url(img/r122.png)')
                  .search__region-name США

            .search__row
              .search__yacht-type
                .img-check
                    input(type='checkbox' id='motor_yachts' name='motor_yachts')
                    label(for='motor_yachts')
                    .img-check__pic
                      span(style='background-image: url(img/catamarans.svg)')
                      span(class='hover' style='background-image: url(img/catamarans_hover.svg)')
                    .img-check__name Моторные яхты
                .img-check
                    input(type='checkbox' id='sailboats' name='sailboats')
                    label(for='sailboats')
                    .img-check__pic
                      span(style='background-image: url(img/catamarans.svg)')
                      span(class='hover' style='background-image: url(img/catamarans_hover.svg)')
                    .img-check__name Парусные яхты
                .img-check
                    input(type='checkbox' id='catamarans' name='catamarans')
                    label(for='catamarans')
                    .img-check__pic
                      span(style='background-image: url(img/motor_yachts.svg)')
                      span(class='hover' style='background-image: url(img/motor_yachts_hover.svg)')
                    .img-check__name Парусные катамараны
                .img-check
                    input(type='checkbox' id='mega_yachts' name='mega_yachts')
                    label(for='mega_yachts')
                    .img-check__pic
                      span(style='background-image: url(img/catamarans.svg)')
                      span(class='hover' style='background-image: url(img/catamarans_hover.svg)')
                    .img-check__name Мега яхты

               .search__rent
                  .search__rent-date
                     .search__rent-title Даты Аренды
                     .search__rent-row
                        .search__rent-field
                           label.input__text(for='sailing') Отплытие
                           input.input.js-pick-date.js-open-popup(id='sailing' type='text' name='' required data-calendar-from data-title="Отплытие")
                        .search__rent-field
                           label.input__text(for='arrival') Прибытие
                           input.input.js-pick-date.js-open-popup(id='arrival' type='text' name='' required data-calendar-to data-title="Прибытие")
                        
                  a.search__rent-help.js-open-popup(href='#' data-open="callme") Не знаете что подобрать?

               .search__find
                  .search__find-title.title Найти подходящие яхты
                  .search__find-actions
                     button.search__find-btn.btn(type='submit') Найти
                     a.search__find-btn.search__find-btn--bg.btn.btn_yellow(href='#') Развернутый поиск

   //END search
   //BEGIN calendar
   .calendar-wrap(data-calendar-popup)
     .calendar__title(data-calendar-title) Отплытие
     .calendar
       ul.calendar__years
         li
           a(href="#" data-calendar-year data-value="2016") 2016
         li
           a(href="#" data-calendar-year class="is-active" data-value="2017") 2017
         li
           a(href="#" data-calendar-year data-value="2018") 2018
         li
           a(href="#" data-calendar-year data-value="2019") 2019
         li
           a(href="#" data-calendar-year data-value="2020") 2020
         li
           a(href="#" data-calendar-year data-value="2021") 2021
       .calendar__main(data-calendar)
