---
title: Yacht Wiki
---
extends layouts/_layout
block content
   // BEGIN yacht wiki main
   .wiki-main
     .wiki-top
       .wiki-top__title выбирайте путешествие по душе
       .wiki-top__btn-container
         button(type="button").controll-btn.controll-btn_left.js-wiki-left
           +icon('icon-arrow')
         button(type="button").controll-btn.controll-btn_right.js-wiki-right
           +icon('icon-arrow')
       a(href='#').btn.wiki-top__btn Предыдущие Яхт-вики
     .wiki-content-wrap
       .wiki-content
         .wiki(style='background-image: url(img/wiki-main/wiki-main-1.jpg)')
           .wiki__title
             span.wiki__title_name
               | Весна на канарах
             span.wiki__title_date
               | 04-11 марта
             span.wiki__title_year 2017
           a(href='#').btn.btn_yellow.wiki__btn Перейти
         .wiki(style='background-image: url(img/wiki-main/wiki-main-1.jpg)')
           .wiki__title
             span.wiki__title_name
               | Весна на канарах
             span.wiki__title_date
               | 04-11 марта
             span.wiki__title_year 2017
           a(href='#').btn.wiki__btn Перейти
         .wiki(style='background-image: url(img/wiki-main/wiki-main-1.jpg)')
           .wiki__title
             span.wiki__title_name
               | Весна на канарах
             span.wiki__title_date
               | 04-11 марта
             span.wiki__title_year 2017
           a(href='#').btn.wiki__btn Перейти
         .wiki(style='background-image: url(img/wiki-main/wiki-main-1.jpg)')
           .wiki__title
             span.wiki__title_name
               | Весна на канарах
             span.wiki__title_date
               | 04-11 марта
             span.wiki__title_year 2017
           a(href='#').btn.wiki__btn Перейти
         .wiki(style='background-image: url(img/wiki-main/wiki-main-1.jpg)')
           .wiki__title
             span.wiki__title_name
               | Весна на канарах
             span.wiki__title_date
               | 04-11 марта
             span.wiki__title_year 2017
           a(href='#').btn.wiki__btn Перейти
         .wiki(style='background-image: url(img/wiki-main/wiki-main-1.jpg)')
           .wiki__title
             span.wiki__title_name
               | Весна на канарах
             span.wiki__title_date
               | 04-11 марта
             span.wiki__title_year 2017
           a(href='#').btn.wiki__btn Перейти
         .wiki(style='background-image: url(img/wiki-main/wiki-main-1.jpg)')
           .wiki__title
             span.wiki__title_name
               | Весна на канарах
             span.wiki__title_date
               | 04-11 марта
             span.wiki__title_year 2017
           a(href='#').btn.wiki__btn Перейти
         .wiki(style='background-image: url(img/wiki-main/wiki-main-1.jpg)')
           .wiki__title
             span.wiki__title_name
               | Весна на канарах
             span.wiki__title_date
               | 04-11 марта
             span.wiki__title_year 2017
           a(href='#').btn.wiki__btn Перейти
         .wiki(style='background-image: url(img/wiki-main/wiki-main-1.jpg)')
           .wiki__title
             span.wiki__title_name
               | Весна на канарах
             span.wiki__title_date
               | 04-11 марта
             span.wiki__title_year 2017
           a(href='#').btn.wiki__btn Перейти
         .wiki(style='background-image: url(img/wiki-main/wiki-main-1.jpg)')
           .wiki__title
             span.wiki__title_name
               | Весна на канарах
             span.wiki__title_date
               | 04-11 марта
             span.wiki__title_year 2017
           a(href='#').btn.wiki__btn Перейти
         .wiki(style='background-image: url(img/wiki-main/wiki-main-1.jpg)')
           .wiki__title
             span.wiki__title_name
               | Весна на канарах
             span.wiki__title_date
               | 04-11 марта
             span.wiki__title_year 2017
           a(href='#').btn.wiki__btn Перейти
         .wiki(style='background-image: url(img/wiki-main/wiki-main-1.jpg)')
           .wiki__title
             span.wiki__title_name
               | Весна на канарах
             span.wiki__title_date
               | 04-11 марта
             span.wiki__title_year 2017
           a(href='#').btn.wiki__btn Перейти
         
         
         
