---
title: Yacht Wiki Archive
---
extends layouts/_layout
block content
   // BEGIN yacht wiki archive open
   .wiki-extended
     .wiki-extended__view
       .wiki-extended-slider
         .wiki-extended-slider__controll
           .wiki-extended-slider__body.js-wiki-extended-slider
             div(style='background-image: url(img/archive-extend/main-pic-1.jpg)')
               .wiki-extended-slider__title
                   span Playboy
                   span ibiza
                   span 24-30 июня
                   span 2017
             div(style='background-image: url(img/archive-extend/preview-2.jpg)')
               .wiki-extended-slider__video-btn
                   span Посмотрите видео
               .wiki-extended-slider__video
                 iframe(width="100%" height="100%" src="https://www.youtube.com/embed/EqWaGt2tYOU" frameborder="0" allowfullscreen)
             div(style='background-image: url(img/archive-extend/main-pic-1.jpg)')
             div(style='background-image: url(img/archive-extend/preview-2.jpg)')
             div(style='background-image: url(img/archive-extend/preview-2.jpg)')
             div(style='background-image: url(img/archive-extend/main-pic-1.jpg)')
             div(style='background-image: url(img/archive-extend/preview-2.jpg)')

           .close.close_yellow
           
         .wiki-extended-slider__nav.js-wiki-extended-slider-nav
           div(style='background-image: url(img/archive-extend/preview-1.jpg)')
           div(style='background-image: url(img/archive-extend/preview-2.jpg)')
           div(style='background-image: url(img/archive-extend/preview-3.jpg)')
           div(style='background-image: url(img/archive-extend/preview-3.jpg)')
           div(style='background-image: url(img/archive-extend/preview-2.jpg)')
           div(style='background-image: url(img/archive-extend/preview-3.jpg)')
           div(style='background-image: url(img/archive-extend/preview-3.jpg)')




     .wiki-extended__descr
       .wiki-extended__date Даты: 24-30 июня 2017
       h1.wiki-extended__title Playboy Ibiza 2017
       p.wiki-extended__text Закрытые вечернки плейбой на вилле, вечеринки в самых больших клубах Ибицы, пляж Плайя-Ильетес, лучшие пляжи острова Форментейра. Мы посетили 3 острова за неделю: о. Мальорка, о. Ивиса (больше известна как Ибица) и о. Форментера. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
       .wiki-extended__btn-container
          a(href='#').btn.wiki-extended__btn.wiki-extended__btn_main Актуальные Яхт-вики
          a(href='#').btn.wiki-extended__btn.wiki-extended__btn_calendar Календарь
