.popup.popup_more.js-popup-more(data-popup="more")
  .popup__in.popup__in--right.js-popup-more-in
    button(type="button").popup__close.js-close-popup-more
      +icon('icon-close-bold')
    .popup__body
      .more.js-more
        .more__img.js-more-photo
        .more__body
          .more__title.js-more-title
          .more__text.js-more-text
          .more__btns
              a(href="#").js-more-link.btn.btn--transp Подробнее
              a(href="#" data-open="feedback").btn.btn--bg.js-open-popup Записаться
