meta(charset="utf-8")
title= title || 'Template'
meta(http-equiv="X-UA-Compatible" content="IE=Edge")
meta(name="viewport" content="width=768, initial-scale=1")
meta(name="theme-color" content="#f6cb02")
meta(name="format-detection" content="telephone=no")
link(rel="stylesheet" media="all" href="css/app.css")
script(type='text/javascript' src='js/onload.js')
