.icon-arrow-left {
  width: 1.1em;
  height: 1em;
  fill: initial;
}
.icon-arrow-sm {
  width: 1.86em;
  height: 1em;
  fill: initial;
}
.icon-arrow {
  width: 1.1em;
  height: 1em;
  fill: initial;
}
.icon-card {
  width: 1.32em;
  height: 1em;
  fill: initial;
}
.icon-close-bold {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-fav-star {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-list {
  width: 1.37em;
  height: 1em;
  fill: initial;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: #929292;
}
